<div class="flex flex-col items-end">
<div
  class="flex flex-col justify-center items-center px-16 py-3.5 max-w-full tracking-tight text-white bg-purple-800 w-[1920px] max-md:px-5"
>
  <div class="flex flex-wrap gap-10 max-w-full w-[969px]">
    <div class="text-xs font-semibold text-center">
      FREE delivery & 40% Discount for next 3 orders! Place your 1st order in.
    </div>
    <div class="flex flex-1 gap-4 self-start">
      <div class="grow my-auto text-xs font-medium">
        Until the end of the sale:
      </div>
      <div class="flex gap-1.5 text-lg font-bold whitespace-nowrap">
        <div class="grow">47</div>
        <div class="text-xs">days</div>
        <div>06</div>
        <div class="my-auto text-xs">hours</div>
        <div>55</div>
        <div class="my-auto text-xs">minutes</div>
        <div>51</div>
        <div class="my-auto text-xs">sec.</div>
      </div>
    </div>
  </div>
</div>
<div
  class="flex flex-col items-end self-stretch pb-2.5 mt-44 w-full bg-white max-md:mt-10 max-md:max-w-full"
>
  <div class="flex z-10 flex-col mt-0 max-w-full border border-b w-[1920px]">
    <div
      class="flex flex-col justify-center items-center px-16 py-3.5 w-full text-xs font-medium tracking-tight text-gray-500 bg-white border border-b max-md:px-5 max-md:max-w-full"
    >
      <div class="flex flex-wrap gap-5 justify-between max-w-full w-[1359px]">
        <div class="flex gap-4">
          <div class="my-auto">About Us</div>
          <div>My account</div>
          <div class="my-auto">Wishlist</div>
          <div class="px-4 py-0.5 border border-l">
            We deliver to you every day from
            <span class="font-bold text-orange-600">7:00 to 23:00</span>
          </div>
        </div>
        <div class="flex gap-2 my-auto">
          <div class="grow">English</div>
          <img
            loading="lazy"
            src="assets/home1/c4f233513f65a82e367494f7e798037ca9698e9eacb1abd3faefe6ac0b933132?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 self-start w-2 aspect-[0.8]"
          />
          <div>USD</div>
          <img
            loading="lazy"
            src="assets/home1/15f1c3a6fdadea90058eeb9a06208191544e1a2dab1a02417f90e987cc5e10b8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 self-start w-2 aspect-[0.8]"
          />
          <div>Order Tracking</div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-center items-center px-16 py-4 w-full bg-white max-md:px-5 max-md:max-w-full"
    >
      <div class="flex flex-wrap gap-5 justify-between max-w-full w-[1360px]">
        <img
          loading="lazy"
          srcset="assets/home1/6434814f20c53e54288bc1d916b945bcb0c0198132f4c38c21812859a5204ebe?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/6434814f20c53e54288bc1d916b945bcb0c0198132f4c38c21812859a5204ebe?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/6434814f20c53e54288bc1d916b945bcb0c0198132f4c38c21812859a5204ebe?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/6434814f20c53e54288bc1d916b945bcb0c0198132f4c38c21812859a5204ebe?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/6434814f20c53e54288bc1d916b945bcb0c0198132f4c38c21812859a5204ebe?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/6434814f20c53e54288bc1d916b945bcb0c0198132f4c38c21812859a5204ebe?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/6434814f20c53e54288bc1d916b945bcb0c0198132f4c38c21812859a5204ebe?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/6434814f20c53e54288bc1d916b945bcb0c0198132f4c38c21812859a5204ebe?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 my-auto max-w-full aspect-[4.18] w-[142px]"
        />
        <div class="flex gap-3.5 items-center">
          <img
            loading="lazy"
            src="assets/home1/d7555610c44e05bece36b260c7aac3292296a94975570135f32310e37f74a883?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 self-stretch my-auto aspect-square w-[26px]"
          />
          <div
            class="flex flex-col self-stretch my-auto tracking-tight leading-tight text-gray-950"
          >
            <div class="text-xs">Deliver to</div>
            <div class="self-start mt-1.5 text-sm font-medium">all</div>
          </div>
          <div
            class="flex flex-wrap gap-10 self-stretch py-2.5 pr-2.5 pl-5 text-sm tracking-tight text-gray-500 bg-gray-100 rounded-lg max-md:max-w-full"
          >
            <div class="my-auto">
              Search for products, categories or brands...
            </div>
            <img
              loading="lazy"
              src="assets/home1/e342dd09c2597e36e409c5461d14e142970a3dca80b10ad5de17932580a3d031?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
              class="object-contain shrink-0 aspect-square w-[26px]"
            />
          </div>
        </div>
        <div
          class="flex gap-3.5 my-auto tracking-tight leading-tight text-gray-950"
        >
          <img
            loading="lazy"
            src="assets/home1/ff495d27c0e5c20604dfceed57a791d256108168b3330af1e4821e72103eeb8b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 aspect-square w-[26px]"
          />
          <div class="flex flex-col self-start">
            <div class="self-start text-xs">Sign In</div>
            <div class="text-sm font-medium">Account</div>
          </div>
        </div>
        <div
          class="flex gap-7 self-start mt-1.5 text-xs font-semibold tracking-tight leading-relaxed text-red-50 whitespace-nowrap"
        >
          <div class="px-1.5 bg-red-600 rounded-lg h-[17px] w-[17px]">0</div>
          <div class="px-1.5 bg-red-600 rounded-lg h-[17px] w-[17px]">0</div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col items-center px-20 bg-white max-md:px-5 max-md:max-w-full"
    >
      <div class="flex flex-col max-w-full w-[1360px]">
        <div
          class="flex z-10 flex-wrap gap-5 justify-between w-full tracking-tight max-md:max-w-full"
        >
          <div
            class="flex flex-wrap gap-7 text-base font-semibold leading-3 text-gray-950"
          >
            <div class="flex flex-col bg-white rounded-lg">
              <div
                class="flex z-10 gap-3.5 px-5 py-4 rounded-lg border border-t border-r border-l"
              >
                <img
                  loading="lazy"
                  src="assets/home1/58257ba7021a55117883dea24848416e5a85a0d5f48abd7ad8e5d62c57352cf4?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab.svg"
                  class="object-contain shrink-0 aspect-[1.22] w-[22px]"
                />
                <div class="grow shrink self-start w-[225px]">
                  All Categories
                </div>
              </div>
              <img
                loading="lazy"
                src="assets/home1/02faea6c017b1504331b25c4a25712e12d6b1bda78afe0b01f77c0f248568d72?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain self-end mt-0 w-2.5 aspect-[0.21] max-md:mr-2.5"
              />
            </div>
            <div
              class="flex flex-col self-start py-px text-purple-800 whitespace-nowrap"
            >
              <div class="flex z-10 gap-2">
                <div class="my-auto">Home</div>
                <img
                  loading="lazy"
                  src="assets/home1/bd5b7a5ac3c1cbdf8bcb4a1077891019695c8e41ee0ff22870b4b00cbbee7141?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                  class="object-contain shrink-0 w-2.5 aspect-[0.21]"
                />
              </div>
              <div class="flex shrink-0 h-px bg-purple-800"></div>
            </div>
            <div class="flex gap-2.5 self-start whitespace-nowrap">
              <div class="my-auto">Shop</div>
              <img
                loading="lazy"
                src="assets/home1/90ba23c7bf05921254e026dbea8ff9087804850ea3b9185c1912eeb25ed200be?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 aspect-[0.19] w-[9px]"
              />
            </div>
            <div class="flex gap-7 my-auto">
              <div class="grow">Fruits & Vegetables</div>
              <div>Beverages</div>
              <div>Blog</div>
              <div>Contact</div>
            </div>
          </div>
          <div class="flex gap-6 self-start">
            <div
              class="flex gap-3 text-base font-semibold leading-3 text-gray-950"
            >
              <div class="grow my-auto">Trending Products</div>
              <img
                loading="lazy"
                src="assets/home1/f153f27fb2fdc5617357987f4c15d5abcb4ebc901df4e7ab176bc4698c356908?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 w-2.5 aspect-[0.21]"
              />
            </div>
            <div class="flex gap-2.5 items-center">
              <div
                class="grow self-stretch my-auto text-base font-semibold leading-3 text-red-600"
              >
                Almost Finished
              </div>
              <div
                class="self-stretch px-2 py-1.5 my-auto text-xs font-bold leading-none text-center text-white whitespace-nowrap rounded"
              >
                SALE
              </div>
              <img
                loading="lazy"
                src="assets/home1/e61d19d59ead7a9eedd46b42023bcbd06b762891b71bcf67bb8ef476eef75e3c?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 self-stretch w-2.5 aspect-[0.21]"
              />
            </div>
          </div>
        </div>
        <div class="max-md:max-w-full">
          <div class="flex gap-5 max-md:flex-col">
            <div class="flex flex-col w-[23%] max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col p-px w-full text-sm font-medium tracking-tight rounded-none border border border-solid text-gray-950 max-md:mt-8"
              >
                <div
                  class="flex overflow-hidden gap-5 justify-between px-5 py-3.5 w-full bg-white"
                >
                  <div class="flex gap-4">
                    <img
                      loading="lazy"
                      src="assets/home1/7abb2c74bc4b5178535b16e635f1112862e4b975bc4dcba7e6af880bb3849df3?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 w-5 aspect-square"
                    />
                    <div class="my-auto basis-auto">Fruits & Vegetables</div>
                  </div>
                  <img
                    loading="lazy"
                    src="assets/home1/a2d58a4d271da3e25c89a2a905f794a2201af394519aef1e1aa606e14dbeca15?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                    class="object-contain shrink-0 my-auto aspect-[0.33] w-[5px]"
                  />
                </div>
                <div
                  class="flex flex-col justify-center py-px w-full border border-t"
                >
                  <div
                    class="flex overflow-hidden gap-5 justify-between px-5 py-3.5 w-full bg-white"
                  >
                    <div class="flex gap-4">
                      <img
                        loading="lazy"
                        src="assets/home1/a626e2de5c0fc0490cf349c34cdce346fa8ba38323a3b2c7e1190d3a64d5894f?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                        class="object-contain shrink-0 w-5 aspect-square"
                      />
                      <div class="my-auto basis-auto">Meats & Seafood</div>
                    </div>
                    <img
                      loading="lazy"
                      src="assets/home1/f2732c43c6282e33a86fe37611e15e119f5ed4231a7962910667b2e8de2d7ab5?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 my-auto aspect-[0.33] w-[5px]"
                    />
                  </div>
                </div>
                <div
                  class="flex flex-col justify-center py-px w-full border border-t"
                >
                  <div
                    class="flex overflow-hidden gap-5 justify-between px-5 py-3.5 w-full bg-white"
                  >
                    <div class="flex gap-4">
                      <img
                        loading="lazy"
                        src="assets/home1/90dbc9c690210adbf82edff27b4909f1777accde6074bc6ad640297ab041624e?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                        class="object-contain shrink-0 w-5 aspect-square"
                      />
                      <div class="my-auto basis-auto">Breaksfast & Dairy</div>
                    </div>
                    <img
                      loading="lazy"
                      src="assets/home1/43be9224f3bb73986cda00acb0d2b28eecdefbb2e776088be1d31a1f406fa3c0?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 my-auto aspect-[0.33] w-[5px]"
                    />
                  </div>
                </div>
                <div
                  class="flex flex-col justify-center py-px w-full border border-t"
                >
                  <div
                    class="flex overflow-hidden gap-5 justify-between px-5 py-3.5 w-full bg-white"
                  >
                    <div class="flex gap-4">
                      <img
                        loading="lazy"
                        src="assets/home1/a17dcff1e26383f1a06e511b974d3c835d268976f9d9cd6a8ed81d129100dabf?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                        class="object-contain shrink-0 w-5 aspect-square"
                      />
                      <div class="basis-auto">Breads & Bakery</div>
                    </div>
                    <img
                      loading="lazy"
                      src="assets/home1/7cabfa8f191d1e33759c42505de8e14e74e94a3e9f40e56587ee42e77b83c818?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 my-auto aspect-[0.33] w-[5px]"
                    />
                  </div>
                </div>
                <div
                  class="flex flex-col justify-center py-px w-full whitespace-nowrap border border-t"
                >
                  <div
                    class="flex overflow-hidden gap-5 justify-between px-5 py-3.5 w-full bg-white"
                  >
                    <div class="flex gap-4">
                      <img
                        loading="lazy"
                        src="assets/home1/ddf2c430c50a0e693b035f8aee4998b6f28982bd3fce57c2b77876de53c8fb8b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                        class="object-contain shrink-0 w-5 aspect-square"
                      />
                      <div>Beverages</div>
                    </div>
                    <img
                      loading="lazy"
                      src="assets/home1/8e2fa2096a100fb1bc5b8089c0863477826445a0f4aecae2d8feeb1aaf605736?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 my-auto aspect-[0.33] w-[5px]"
                    />
                  </div>
                </div>
                <div
                  class="flex flex-col justify-center py-px w-full border border-t"
                >
                  <div
                    class="flex overflow-hidden gap-4 px-5 py-3.5 bg-white"
                  >
                    <img
                      loading="lazy"
                      src="assets/home1/9b1068f1255db09b48c877d195080f73108a73aabbccc2fecb14397decd0e25a?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 w-5 aspect-square"
                    />
                    <div class="grow shrink my-auto w-[223px]">
                      Frozen Foods
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col justify-center py-px w-full border border-t"
                >
                  <div
                    class="flex overflow-hidden gap-4 px-5 py-3.5 bg-white"
                  >
                    <img
                      loading="lazy"
                      src="assets/home1/4130e4eea8fdc0613f3673b0d83f05a3d7c0c9e806a06d752a0b7cd48db2b9ca?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 w-5 aspect-square"
                    />
                    <div class="grow shrink my-auto w-[223px]">
                      Biscuits & Snacks
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col justify-center py-px w-full border border-t"
                >
                  <div
                    class="flex overflow-hidden gap-4 px-5 py-3.5 bg-white"
                  >
                    <img
                      loading="lazy"
                      src="assets/home1/52fd6aa4807c3c567a6afb760dee33a82534512ad44dd3ea3c266c620adb18cd?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 w-5 aspect-square"
                    />
                    <div class="grow shrink w-[223px]">Grocery & Staples</div>
                  </div>
                </div>
                <div
                  class="flex flex-col justify-center py-px w-full border border-t"
                >
                  <div
                    class="flex overflow-hidden gap-4 px-5 py-3.5 bg-white"
                  >
                    <img
                      loading="lazy"
                      src="assets/home1/41d4cf0a83aaa60974477298e7eb8a8968d3457642830742f898b6f7e128c598?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 w-5 aspect-square"
                    />
                    <div class="grow shrink my-auto w-[223px]">
                      Household Needs
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col justify-center py-px w-full whitespace-nowrap border border-t"
                >
                  <div
                    class="flex overflow-hidden gap-4 px-5 py-3.5 bg-white"
                  >
                    <img
                      loading="lazy"
                      src="assets/home1/dc25249de6952d703729cabaa8edba759466ff76bd0439e004434ea538938fd3?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 w-5 aspect-square"
                    />
                    <div class="grow shrink my-auto w-[223px]">
                      Healthcare
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col justify-center py-px w-full border border-t"
                >
                  <div
                    class="flex overflow-hidden gap-4 px-5 py-3.5 bg-white rounded-none"
                  >
                    <img
                      loading="lazy"
                      src="assets/home1/80645d9643bf8a12cc120b7401476ac835fda99b05b3f4e4879b7718e2c2e293?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 w-5 aspect-square"
                    />
                    <div class="grow shrink w-[223px]">Baby & Pregnancy</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col ml-5 w-[77%] max-md:ml-0 max-md:w-full">
              <div
                class="flex overflow-hidden relative flex-col items-start px-20 pt-16 pb-24 mt-6 w-full min-h-[482px] max-md:px-5 max-md:pb-24 max-md:mt-10 max-md:max-w-full"
              >
                <img
                  loading="lazy"
                  srcset="assets/home1/13d800e2588feb7c9890efb55b800f9e460427c3670a500bb9f2ee1e3e62ee0b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/13d800e2588feb7c9890efb55b800f9e460427c3670a500bb9f2ee1e3e62ee0b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/13d800e2588feb7c9890efb55b800f9e460427c3670a500bb9f2ee1e3e62ee0b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/13d800e2588feb7c9890efb55b800f9e460427c3670a500bb9f2ee1e3e62ee0b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/13d800e2588feb7c9890efb55b800f9e460427c3670a500bb9f2ee1e3e62ee0b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/13d800e2588feb7c9890efb55b800f9e460427c3670a500bb9f2ee1e3e62ee0b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/13d800e2588feb7c9890efb55b800f9e460427c3670a500bb9f2ee1e3e62ee0b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/13d800e2588feb7c9890efb55b800f9e460427c3670a500bb9f2ee1e3e62ee0b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                  class="object-cover absolute inset-0 size-full"
                />
                <div
                  class="relative p-2.5 text-xs font-semibold tracking-tight text-green-800 rounded-md"
                >
                  Weekend Discount
                </div>
                <div
                  class="relative mt-5 text-5xl font-bold tracking-tighter leading-[50px] text-violet-950 max-md:max-w-full"
                >
                  Get the best quality
                  <br />
                  products at the lowest
                  <br />
                  prices
                </div>
                <div
                  class="relative mt-3.5 text-base tracking-tight text-gray-950"
                >
                  We have prepared special discounts for you on grocery
                </div>
                <div
                  class="relative mt-1 text-base tracking-tight text-gray-950"
                >
                  products. Don't miss these opportunities...
                </div>
                <div class="flex relative gap-4 mt-11 max-md:mt-10">
                  <div
                    class="flex gap-1.5 px-4 py-3 text-sm font-bold tracking-tight leading-3 text-center text-white bg-purple-800 rounded-lg"
                  >
                    <div class="grow">Shop Now</div>
                    <img
                      loading="lazy"
                      src="assets/home1/91f74ae9e844bbae42c223489a2aa7158815fc7eb55e183a201d1b1911fa5275?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                      class="object-contain shrink-0 aspect-[1.61] w-[29px]"
                    />
                  </div>
                  <div class="flex flex-col my-auto">
                    <div
                      class="flex gap-2.5 self-start tracking-tight leading-none whitespace-nowrap"
                    >
                      <div class="grow text-3xl font-bold text-red-600">
                        $27.99
                      </div>
                      <div class="text-xl font-medium text-gray-900">
                        $56.67
                      </div>
                    </div>
                    <div class="mt-1.5 text-xs tracking-tight text-gray-950">
                      Don't miss this limited time offer.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex gap-2 self-start text-base tracking-tight leading-none whitespace-nowrap text-gray-950"
  >
    <div>1</div>
    <div>2</div>
  </div>
  <div class="flex flex-col mt-9 mr-64 max-w-full w-[1380px] max-md:mr-2.5">
    <div
      class="flex flex-wrap gap-9 mr-4 ml-2.5 tracking-tight max-md:mr-2.5 max-md:max-w-full"
    >
      <div class="flex flex-1 gap-5 items-start">
        <img
          loading="lazy"
          src="assets/home1/73fd640b602a571c135b25ef4dc87e63b4266134926926ea7218662c6dfc1a82?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 self-end mt-7 w-14 aspect-[0.98]"
        />
        <div class="flex flex-col self-start">
          <div class="self-start text-base font-bold text-gray-950">
            Payment only online
          </div>
          <div class="mt-2.5 text-sm leading-5 text-gray-500">
            Tasigförsamhet beteendedesign. Mobile
            <br />
            checkout. Ylig kärrtorpa.
          </div>
        </div>
      </div>
      <div class="flex flex-1 gap-5 items-start">
        <img
          loading="lazy"
          src="assets/home1/5e395bc8a14c17f2e9752df2817029075306a2e48735eaf966ad2249a7ca5dba?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 self-end mt-6 aspect-square w-[57px]"
        />
        <div class="flex flex-col self-start">
          <div class="self-start text-base font-bold text-gray-950">
            New stocks and sales
          </div>
          <div class="mt-3.5 text-sm leading-5 text-gray-500">
            Tasigförsamhet beteendedesign. Mobile
            <br />
            checkout. Ylig kärrtorpa.
          </div>
        </div>
      </div>
      <div class="flex flex-1 gap-5 items-start">
        <img
          loading="lazy"
          src="assets/home1/ec31f80c1e45655260254c89632bff89c3d1266e5768a28f5bf4e6df656f61d7?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 self-end mt-7 w-14 aspect-[0.98]"
        />
        <div class="flex flex-col self-start">
          <div class="self-start text-base font-bold text-gray-950">
            Quality assurance
          </div>
          <div class="mt-2.5 text-sm leading-5 text-gray-500">
            Tasigförsamhet beteendedesign. Mobile
            <br />
            checkout. Ylig kärrtorpa.
          </div>
        </div>
      </div>
      <div class="flex flex-1 gap-5 items-start">
        <img
          loading="lazy"
          src="assets/home1/e478d2bb34eb5257bbd000cd12e599553c3d77324e78ce38181a3dfffde9afb7?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 self-end mt-7 aspect-square w-[57px]"
        />
        <div class="flex flex-col self-start">
          <div class="self-start text-base font-bold text-gray-950">
            Delivery from 1 hour
          </div>
          <div class="mt-2.5 text-sm leading-5 text-gray-500">
            Tasigförsamhet beteendedesign. Mobile
            <br />
            checkout. Ylig kärrtorpa.
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex shrink-0 mt-4 border border-t h-[61px] max-md:max-w-full"
    ></div>
    <div class="z-10 mx-2.5 -mt-6 max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col">
        <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
          <div
            class="flex overflow-hidden relative flex-col items-start py-9 pr-20 pl-5 w-full text-xs font-bold tracking-tight min-h-[220px] max-md:pr-5 max-md:mt-8 max-md:max-w-full"
          >
            <img
              loading="lazy"
              srcset="assets/home1/6795695a9bb9df206f85f7ab195217bb20263acb8464581c1510a3c56ab564e6?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/6795695a9bb9df206f85f7ab195217bb20263acb8464581c1510a3c56ab564e6?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/6795695a9bb9df206f85f7ab195217bb20263acb8464581c1510a3c56ab564e6?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/6795695a9bb9df206f85f7ab195217bb20263acb8464581c1510a3c56ab564e6?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/6795695a9bb9df206f85f7ab195217bb20263acb8464581c1510a3c56ab564e6?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/6795695a9bb9df206f85f7ab195217bb20263acb8464581c1510a3c56ab564e6?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/6795695a9bb9df206f85f7ab195217bb20263acb8464581c1510a3c56ab564e6?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/6795695a9bb9df206f85f7ab195217bb20263acb8464581c1510a3c56ab564e6?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
              class="object-cover absolute inset-0 size-full"
            />
            <div class="relative font-medium text-orange-600">
              Only This Week
            </div>
            <div
              class="relative mt-4 text-2xl tracking-tighter text-gray-900"
            >
              Quality eggs at an
            </div>
            <div
              class="relative mt-1 text-2xl tracking-tighter text-gray-900"
            >
              affordable price
            </div>
            <div
              class="relative mt-3.5 text-sm tracking-tight leading-normal text-gray-500"
            >
              Eat one every day
            </div>
            <div
              class="flex relative gap-1.5 px-3.5 py-2.5 mt-5 leading-4 text-center bg-white border border border-solid rounded-[999px] text-neutral-800"
            >
              <div class="grow">Shop Now</div>
              <img
                loading="lazy"
                src="assets/home1/7617b1dc840862ef77b29ee335526091f13b3d72b2a3174eab974bcd70b281f9?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 w-5 aspect-[1.43]"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
          <div
            class="flex overflow-hidden relative flex-col items-start py-9 pr-20 pl-5 w-full text-xs font-bold tracking-tight min-h-[220px] max-md:pr-5 max-md:mt-8 max-md:max-w-full"
          >
            <img
              loading="lazy"
              srcset="assets/home1/68bf4ceb2dba10b8c3e044e547274f9ccf6f560d3237aa73eb5594a7f75e9785?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/68bf4ceb2dba10b8c3e044e547274f9ccf6f560d3237aa73eb5594a7f75e9785?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/68bf4ceb2dba10b8c3e044e547274f9ccf6f560d3237aa73eb5594a7f75e9785?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/68bf4ceb2dba10b8c3e044e547274f9ccf6f560d3237aa73eb5594a7f75e9785?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/68bf4ceb2dba10b8c3e044e547274f9ccf6f560d3237aa73eb5594a7f75e9785?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/68bf4ceb2dba10b8c3e044e547274f9ccf6f560d3237aa73eb5594a7f75e9785?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/68bf4ceb2dba10b8c3e044e547274f9ccf6f560d3237aa73eb5594a7f75e9785?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/68bf4ceb2dba10b8c3e044e547274f9ccf6f560d3237aa73eb5594a7f75e9785?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
              class="object-cover absolute inset-0 size-full"
            />
            <div class="relative font-medium text-orange-600">
              Only This Week
            </div>
            <div
              class="relative mt-4 text-2xl tracking-tighter text-gray-900"
            >
              Snacks that nourishes
            </div>
            <div
              class="relative mt-2.5 text-2xl tracking-tighter text-gray-900"
            >
              our mind and body
            </div>
            <div
              class="relative mt-3.5 text-sm tracking-tight leading-normal text-gray-500"
            >
              Shine the morning...
            </div>
            <div
              class="flex relative gap-1.5 px-3.5 py-2.5 mt-5 leading-4 text-center bg-white border border border-solid rounded-[999px] text-neutral-800"
            >
              <div class="grow">Shop Now</div>
              <img
                loading="lazy"
                src="assets/home1/ffc95cb3e27da62574031e59dffbc3fb7129f329f4a8a822d6694f7d31190b6a?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 aspect-[1.36] w-[19px]"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
          <div
            class="flex overflow-hidden relative flex-col items-start py-9 pr-20 pl-5 w-full text-xs font-bold tracking-tight min-h-[220px] max-md:pr-5 max-md:mt-8 max-md:max-w-full"
          >
            <img
              loading="lazy"
              srcset="assets/home1/9c5bd59b68b7aabfaea26dd9ce6fc5826c1eec3306375ef152c25af938f2f625?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/9c5bd59b68b7aabfaea26dd9ce6fc5826c1eec3306375ef152c25af938f2f625?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/9c5bd59b68b7aabfaea26dd9ce6fc5826c1eec3306375ef152c25af938f2f625?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/9c5bd59b68b7aabfaea26dd9ce6fc5826c1eec3306375ef152c25af938f2f625?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/9c5bd59b68b7aabfaea26dd9ce6fc5826c1eec3306375ef152c25af938f2f625?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/9c5bd59b68b7aabfaea26dd9ce6fc5826c1eec3306375ef152c25af938f2f625?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/9c5bd59b68b7aabfaea26dd9ce6fc5826c1eec3306375ef152c25af938f2f625?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/9c5bd59b68b7aabfaea26dd9ce6fc5826c1eec3306375ef152c25af938f2f625?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
              class="object-cover absolute inset-0 size-full"
            />
            <div class="relative font-medium text-orange-600">
              Only This Week
            </div>
            <div
              class="relative mt-4 text-2xl tracking-tighter text-gray-900"
            >
              Unbeatable quality,
            </div>
            <div
              class="relative mt-1.5 text-2xl tracking-tighter text-gray-900"
            >
              unbeatable prices.
            </div>
            <div
              class="relative mt-3.5 text-sm tracking-tight leading-normal text-gray-500"
            >
              Only this week. Don’t miss...
            </div>
            <div
              class="flex relative gap-1.5 px-3.5 py-2.5 mt-5 leading-4 text-center bg-white border border border-solid rounded-[999px] text-neutral-800"
            >
              <div class="grow">Shop Now</div>
              <img
                loading="lazy"
                src="assets/home1/5c09c3ed3e626df48c3fdebf662869a3b268fdd775d99128f03ea25356714103?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 w-5 aspect-[1.43]"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-wrap gap-5 justify-between mt-8 mr-4 ml-2.5 max-md:mr-2.5 max-md:max-w-full"
    >
      <div class="flex flex-wrap gap-4 self-start mt-1.5">
        <div class="text-lg font-bold tracking-tight text-gray-950">
          New Arrivals
        </div>
        <div class="flex-auto text-sm tracking-tight text-gray-400">
          Dont miss this opportunity at a special discount just for this week.
        </div>
      </div>
      <div
        class="flex gap-1.5 px-3.5 py-2.5 text-xs font-bold tracking-tight leading-4 text-center bg-white border border border-solid rounded-[999px] text-neutral-800"
      >
        <div class="grow my-auto">View All</div>
        <img
          loading="lazy"
          src="assets/home1/041c8dd814fb96059ddb9a7e317481512c4fcb9c529297b6224dc1e7ed5e6878?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 w-5 aspect-[1.43]"
        />
      </div>
    </div>
    <img
      loading="lazy"
      srcset="assets/home1/64dd068fc39e0d3af1197e42e5c2518e79652e746fb7d75043d1763909ad83a8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/64dd068fc39e0d3af1197e42e5c2518e79652e746fb7d75043d1763909ad83a8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/64dd068fc39e0d3af1197e42e5c2518e79652e746fb7d75043d1763909ad83a8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/64dd068fc39e0d3af1197e42e5c2518e79652e746fb7d75043d1763909ad83a8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/64dd068fc39e0d3af1197e42e5c2518e79652e746fb7d75043d1763909ad83a8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/64dd068fc39e0d3af1197e42e5c2518e79652e746fb7d75043d1763909ad83a8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/64dd068fc39e0d3af1197e42e5c2518e79652e746fb7d75043d1763909ad83a8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/64dd068fc39e0d3af1197e42e5c2518e79652e746fb7d75043d1763909ad83a8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
      class="object-contain mx-2.5 mt-4 w-full aspect-[3.58] max-md:max-w-full"
    />
    <div class="mx-2.5 mt-8 max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col">
        <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex overflow-hidden relative flex-col items-start pt-6 pr-16 pb-56 pl-5 w-full text-xs font-bold tracking-tight aspect-[0.801] max-md:pr-5 max-md:pb-24 max-md:mt-8"
          >
            <img
              loading="lazy"
              srcset="assets/home1/1603ce0b0a7e5020cf47a0a6564e4357cc3be818ce1d6eef545daad52d90a015?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/1603ce0b0a7e5020cf47a0a6564e4357cc3be818ce1d6eef545daad52d90a015?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/1603ce0b0a7e5020cf47a0a6564e4357cc3be818ce1d6eef545daad52d90a015?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/1603ce0b0a7e5020cf47a0a6564e4357cc3be818ce1d6eef545daad52d90a015?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/1603ce0b0a7e5020cf47a0a6564e4357cc3be818ce1d6eef545daad52d90a015?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/1603ce0b0a7e5020cf47a0a6564e4357cc3be818ce1d6eef545daad52d90a015?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/1603ce0b0a7e5020cf47a0a6564e4357cc3be818ce1d6eef545daad52d90a015?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/1603ce0b0a7e5020cf47a0a6564e4357cc3be818ce1d6eef545daad52d90a015?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
              class="object-cover absolute inset-0 size-full"
            />
            <div class="relative font-medium text-orange-600">
              Only This Week
            </div>
            <div
              class="relative mt-3.5 text-xl tracking-tighter text-gray-900"
            >
              Provides you experienced
            </div>
            <div class="relative mt-1 text-xl tracking-tighter text-gray-900">
              quality products
            </div>
            <div
              class="relative mt-3.5 text-sm tracking-tight leading-normal text-gray-500"
            >
              Feed your family the best
            </div>
            <div
              class="flex relative gap-1.5 px-3.5 py-2.5 mt-5 leading-4 text-center bg-white border border border-solid rounded-[999px] text-neutral-800"
            >
              <div class="grow">Shop Now</div>
              <img
                loading="lazy"
                src="assets/home1/7f0707714d935eb5c676bf953535e44b731368d8d2650b0a8b683824c94118c2?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 w-5 aspect-[1.43]"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex overflow-hidden relative flex-col items-start pt-6 pr-14 pb-56 pl-5 w-full text-xs font-bold tracking-tight aspect-[0.798] max-md:pr-5 max-md:pb-24 max-md:mt-8"
          >
            <img
              loading="lazy"
              srcset="assets/home1/b6dde12cfb7356138b324629a8d65926d47a520ac95e268815f1e70bc1a86fbc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/b6dde12cfb7356138b324629a8d65926d47a520ac95e268815f1e70bc1a86fbc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/b6dde12cfb7356138b324629a8d65926d47a520ac95e268815f1e70bc1a86fbc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/b6dde12cfb7356138b324629a8d65926d47a520ac95e268815f1e70bc1a86fbc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/b6dde12cfb7356138b324629a8d65926d47a520ac95e268815f1e70bc1a86fbc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/b6dde12cfb7356138b324629a8d65926d47a520ac95e268815f1e70bc1a86fbc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/b6dde12cfb7356138b324629a8d65926d47a520ac95e268815f1e70bc1a86fbc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/b6dde12cfb7356138b324629a8d65926d47a520ac95e268815f1e70bc1a86fbc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
              class="object-cover absolute inset-0 size-full"
            />
            <div class="relative font-medium text-orange-600">
              Only This Week
            </div>
            <div
              class="relative mt-3.5 text-xl tracking-tighter text-gray-900"
            >
              Shopping with us for better
            </div>
            <div class="relative mt-1 text-xl tracking-tighter text-gray-900">
              quality and the best price
            </div>
            <div
              class="relative mt-3.5 text-sm tracking-tight leading-normal text-gray-500"
            >
              Only this week. Don’t miss...
            </div>
            <div
              class="flex relative gap-1.5 px-3.5 py-2.5 mt-5 leading-4 text-center bg-white border border border-solid rounded-[999px] text-neutral-800"
            >
              <div class="grow">Shop Now</div>
              <img
                loading="lazy"
                src="assets/home1/b63a1d7e53e2ab12116fa77f6aab079f7ca23eee312ecf18fa1671a9d0ab1658?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 aspect-[1.36] w-[19px]"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex overflow-hidden relative flex-col items-start px-5 pt-6 pb-56 w-full text-xs font-bold tracking-tight aspect-[0.801] max-md:pb-24 max-md:mt-8"
          >
            <img
              loading="lazy"
              srcset="assets/home1/9db2618a20eaf3cdf2ed4f3d088e324087ab4833a8fb15ce775726bd9c292df8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/9db2618a20eaf3cdf2ed4f3d088e324087ab4833a8fb15ce775726bd9c292df8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/9db2618a20eaf3cdf2ed4f3d088e324087ab4833a8fb15ce775726bd9c292df8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/9db2618a20eaf3cdf2ed4f3d088e324087ab4833a8fb15ce775726bd9c292df8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/9db2618a20eaf3cdf2ed4f3d088e324087ab4833a8fb15ce775726bd9c292df8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/9db2618a20eaf3cdf2ed4f3d088e324087ab4833a8fb15ce775726bd9c292df8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/9db2618a20eaf3cdf2ed4f3d088e324087ab4833a8fb15ce775726bd9c292df8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/9db2618a20eaf3cdf2ed4f3d088e324087ab4833a8fb15ce775726bd9c292df8?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
              class="object-cover absolute inset-0 size-full"
            />
            <div class="relative font-medium text-orange-600">
              Only This Week
            </div>
            <div
              class="relative self-stretch mt-3.5 text-xl tracking-tighter text-gray-900"
            >
              Get the best quality products
            </div>
            <div class="relative mt-1 text-xl tracking-tighter text-gray-900">
              at the lowest prices
            </div>
            <div
              class="relative mt-3.5 text-sm tracking-tight leading-normal text-gray-500"
            >
              A different kind of grocery store
            </div>
            <div
              class="flex relative gap-1.5 px-3.5 py-2.5 mt-5 leading-4 text-center bg-white border border border-solid rounded-[999px] text-neutral-800"
            >
              <div class="grow">Shop Now</div>
              <img
                loading="lazy"
                src="assets/home1/ceded809753e7b19da51eeba1c9894c6dfc14bd039d4169ace15627859ee886c?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 w-5 aspect-[1.43]"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex overflow-hidden relative flex-col items-start px-5 pt-6 pb-56 w-full text-xs font-bold tracking-tight aspect-[0.798] max-md:pb-24 max-md:mt-8"
          >
            <img
              loading="lazy"
              srcset="assets/home1/80855355b126bd61e49672bf7795a39db6f1b9dec08974c5663a7f303c216d10?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/80855355b126bd61e49672bf7795a39db6f1b9dec08974c5663a7f303c216d10?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/80855355b126bd61e49672bf7795a39db6f1b9dec08974c5663a7f303c216d10?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/80855355b126bd61e49672bf7795a39db6f1b9dec08974c5663a7f303c216d10?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/80855355b126bd61e49672bf7795a39db6f1b9dec08974c5663a7f303c216d10?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/80855355b126bd61e49672bf7795a39db6f1b9dec08974c5663a7f303c216d10?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/80855355b126bd61e49672bf7795a39db6f1b9dec08974c5663a7f303c216d10?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/80855355b126bd61e49672bf7795a39db6f1b9dec08974c5663a7f303c216d10?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
              class="object-cover absolute inset-0 size-full"
            />
            <div class="relative font-medium text-orange-600">
              Only This Week
            </div>
            <div
              class="relative self-stretch mt-3.5 text-xl tracking-tighter text-gray-900"
            >
              Where you get your all favorite
            </div>
            <div class="relative mt-1 text-xl tracking-tighter text-gray-900">
              brands under one roof
            </div>
            <div
              class="relative mt-4 text-sm tracking-tight leading-normal text-gray-500"
            >
              Only this week. Don’t miss...
            </div>
            <div
              class="flex relative gap-1.5 px-3.5 py-2.5 mt-5 leading-4 text-center bg-white border border border-solid rounded-[999px] text-neutral-800"
            >
              <div class="grow">Shop Now</div>
              <img
                loading="lazy"
                src="assets/home1/8543c6a12a0c428efcffbbf2050f1993b7c8da593c5990f2a8fc42ae55bdf2a6?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 aspect-[1.36] w-[19px]"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex gap-4 self-start mt-10 ml-2.5">
      <div class="grow text-lg font-bold tracking-tight text-gray-950">
        Featured Products
      </div>
      <div class="flex-auto my-auto text-sm tracking-tight text-gray-400">
        Do not miss the current offers until the end of March.
      </div>
    </div>
    <div
      class="flex gap-1.5 self-end px-3.5 py-2.5 mt-1.5 text-xs font-bold tracking-tight leading-4 text-center bg-white border border border-solid rounded-[999px] text-neutral-800 max-md:mr-2.5"
    >
      <div class="grow my-auto">View All</div>
      <img
        loading="lazy"
        src="assets/home1/b1058bd8028415243e69f42f889cc1d1eb31aabe0e9fdee861afe6f61908b3dc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
        class="object-contain shrink-0 w-5 aspect-[1.43]"
      />
    </div>
    <img
      loading="lazy"
      srcset="assets/home1/0d56fba4b97976350cac968470df21d93a7a1646099eb154f5c1ad40fc9be953?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/0d56fba4b97976350cac968470df21d93a7a1646099eb154f5c1ad40fc9be953?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/0d56fba4b97976350cac968470df21d93a7a1646099eb154f5c1ad40fc9be953?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/0d56fba4b97976350cac968470df21d93a7a1646099eb154f5c1ad40fc9be953?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/0d56fba4b97976350cac968470df21d93a7a1646099eb154f5c1ad40fc9be953?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/0d56fba4b97976350cac968470df21d93a7a1646099eb154f5c1ad40fc9be953?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/0d56fba4b97976350cac968470df21d93a7a1646099eb154f5c1ad40fc9be953?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/0d56fba4b97976350cac968470df21d93a7a1646099eb154f5c1ad40fc9be953?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
      class="object-contain mx-2.5 w-full rounded-lg aspect-[1.6] max-md:max-w-full"
    />
    <div class="flex gap-4 self-start mt-10 ml-2.5">
      <div class="text-lg font-bold tracking-tight text-gray-950">
        Best Sellers
      </div>
      <div class="flex-auto text-sm tracking-tight text-gray-400">
        Some of the new products arriving this weeks
      </div>
    </div>
    <div
      class="flex relative z-10 flex-col pt-6 pb-96 mx-2.5 mt-1.5 rounded-lg min-h-[829px] max-md:pb-24 max-md:max-w-full"
    >
      <img
        loading="lazy"
        srcset="assets/home1/4d4053df80e1fdee2104fc51fdfdd6ae12a03eb6fdbddde686cf2e3199060ccb?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/4d4053df80e1fdee2104fc51fdfdd6ae12a03eb6fdbddde686cf2e3199060ccb?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/4d4053df80e1fdee2104fc51fdfdd6ae12a03eb6fdbddde686cf2e3199060ccb?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/4d4053df80e1fdee2104fc51fdfdd6ae12a03eb6fdbddde686cf2e3199060ccb?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/4d4053df80e1fdee2104fc51fdfdd6ae12a03eb6fdbddde686cf2e3199060ccb?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/4d4053df80e1fdee2104fc51fdfdd6ae12a03eb6fdbddde686cf2e3199060ccb?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/4d4053df80e1fdee2104fc51fdfdd6ae12a03eb6fdbddde686cf2e3199060ccb?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/4d4053df80e1fdee2104fc51fdfdd6ae12a03eb6fdbddde686cf2e3199060ccb?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
        class="object-cover absolute inset-0 size-full"
      />
      <div
        class="flex relative shrink-0 -mb-20 border border-b h-[403px] max-md:mb-2.5 max-md:max-w-full"
      ></div>
    </div>
    <div class="flex flex-col pt-12 mx-2.5 border border-b max-md:max-w-full">
      <div
        class="flex z-10 shrink-0 mb-0 rounded-none border border-r border-b border-l h-[409px] max-md:mb-2.5 max-md:max-w-full"
      ></div>
    </div>
    <div
      class="flex overflow-hidden px-8 mx-2.5 mt-7 bg-orange-50 rounded-md border border-orange-100 border-solid max-md:px-5"
    >
      <div class="flex flex-col my-auto mr-0 max-md:max-w-full">
        <div
          class="text-2xl font-bold tracking-tight text-orange-600 max-md:mr-1 max-md:max-w-full"
        >
          In store or online your health & safety is our top priority
        </div>
        <div
          class="mt-1 text-sm tracking-tight text-gray-500 max-md:max-w-full"
        >
          The only supermarket that makes your life easier, makes you enjoy
          life and makes it better
        </div>
      </div>
      <div
        class="grow shrink mr-0 text-9xl font-bold tracking-tighter leading-tight w-[202px] max-md:text-4xl"
      >
        %50
      </div>
      <img
        loading="lazy"
        srcset="assets/home1/9308a032e4a050872d8c3b08766131bc9213116a74a455dd2afa199813269a47?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/9308a032e4a050872d8c3b08766131bc9213116a74a455dd2afa199813269a47?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/9308a032e4a050872d8c3b08766131bc9213116a74a455dd2afa199813269a47?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/9308a032e4a050872d8c3b08766131bc9213116a74a455dd2afa199813269a47?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/9308a032e4a050872d8c3b08766131bc9213116a74a455dd2afa199813269a47?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/9308a032e4a050872d8c3b08766131bc9213116a74a455dd2afa199813269a47?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/9308a032e4a050872d8c3b08766131bc9213116a74a455dd2afa199813269a47?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/9308a032e4a050872d8c3b08766131bc9213116a74a455dd2afa199813269a47?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
        class="object-contain aspect-[6.76] w-[573px] max-md:max-w-full"
      />
    </div>
    <div class="flex gap-5 self-start mt-10 ml-2.5">
      <div class="grow text-lg font-bold tracking-tight text-gray-950">
        Popular Companies
      </div>
      <div class="flex-auto my-auto text-sm tracking-tight text-gray-400">
        Some of the new products arriving this weeks
      </div>
    </div>
    <div
      class="flex gap-1.5 self-end px-3.5 py-2.5 text-xs font-bold tracking-tight leading-4 text-center bg-white border border border-solid rounded-[999px] text-neutral-800 max-md:mr-2.5"
    >
      <div class="grow my-auto">View All</div>
      <img
        loading="lazy"
        src="assets/home1/e5f1debcbc67d330b171c497b94dd479ee83cec4ae86cb19f20dc0105fa3fb3e?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
        class="object-contain shrink-0 w-5 aspect-[1.43]"
      />
    </div>
    <div class="mx-2.5 max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col">
        <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
          <div class="flex flex-col grow px-5 pt-5 pb-24 border border-r">
            <div class="flex flex-col max-w-full whitespace-nowrap w-[178px]">
              <div class="flex gap-5 justify-between">
                <img
                  loading="lazy"
                  srcset="assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                  class="object-contain shrink-0 rounded-lg aspect-square w-[72px]"
                />
                <div class="flex flex-col self-start mt-3">
                  <div
                    class="text-base font-bold tracking-tight text-gray-950"
                  >
                    Machic
                  </div>
                  <div
                    class="mt-2 text-xs tracking-tight text-gray-500 max-md:mr-1"
                  >
                    Featured
                  </div>
                </div>
                <div
                  class="self-end mt-12 text-xs tracking-tight leading-none text-gray-500 max-md:mt-10"
                >
                  41
                </div>
              </div>
              <img
                loading="lazy"
                src="assets/home1/d4d0df0741527b673c79d8c6af55c62f3173898d3e6a8a251d0ddb51e9b87212?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain self-end mt-2.5 aspect-[6.1] w-[67px] max-md:mr-2.5"
              />
            </div>
            <div
              class="pt-5 pb-0.5 text-xs tracking-tight border border-t text-gray-950"
            >
              Good quality product can only be found in good stores
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex flex-col grow px-5 pt-5 pb-24 border border-t border-r"
          >
            <div class="flex flex-col max-w-full whitespace-nowrap w-[180px]">
              <div class="flex gap-5 justify-between">
                <img
                  loading="lazy"
                  srcset="assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                  class="object-contain shrink-0 rounded-lg aspect-square w-[72px]"
                />
                <div class="flex flex-col self-start mt-3">
                  <div
                    class="text-base font-bold tracking-tight text-gray-950"
                  >
                    Blonwe
                  </div>
                  <div
                    class="self-start mt-2 text-xs tracking-tight text-gray-500"
                  >
                    Featured
                  </div>
                </div>
                <div
                  class="self-end mt-12 text-xs tracking-tight leading-none text-gray-500 max-md:mt-10"
                >
                  37
                </div>
              </div>
              <img
                loading="lazy"
                src="assets/home1/803b419aae7475210af7b7e18fdb7376d4395f421442512d4660f23a9d40dd89?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain self-end mt-2.5 mr-5 aspect-[6.1] w-[67px] max-md:mr-2.5"
              />
            </div>
            <div
              class="pt-5 pb-0.5 text-xs tracking-tight border border-t text-gray-950"
            >
              All kinds of grocery products are available in our store.
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex flex-col grow px-5 pt-5 pb-24 border border-t border-r"
          >
            <div class="flex flex-col max-w-full whitespace-nowrap w-[180px]">
              <div class="flex gap-5 justify-between">
                <img
                  loading="lazy"
                  srcset="assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/8525ba0fcbfdbfff2d3d0d446b69edfde1d661ba032608eed6603b66184192cc?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                  class="object-contain shrink-0 rounded-lg aspect-square w-[72px]"
                />
                <div class="flex flex-col self-start mt-3">
                  <div
                    class="text-base font-bold tracking-tight text-gray-950"
                  >
                    Bacola
                  </div>
                  <div class="mt-2 text-xs tracking-tight text-gray-500">
                    Featured
                  </div>
                </div>
                <div
                  class="self-end mt-12 text-xs tracking-tight leading-none text-gray-500 max-md:mt-10"
                >
                  35
                </div>
              </div>
              <img
                loading="lazy"
                src="assets/home1/bab9e24ee1bbda950d4a9a48c23a459808987d1e6430139d1a65276840acc9d9?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain self-end mt-2.5 mr-5 aspect-[6.1] w-[67px] max-md:mr-2.5"
              />
            </div>
            <div
              class="pt-5 pb-0.5 text-xs tracking-tight border border-t text-gray-950 max-md:pr-5"
            >
              Our work can definitely support the local economy.
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
          <div class="flex flex-col items-start pt-5 w-full border border-t">
            <div class="flex gap-5 ml-5 whitespace-nowrap max-md:ml-2.5">
              <img
                loading="lazy"
                srcset="assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/ad4a62726942cf3dafffc9a411cad9447eb5e6ee1dc2f22b5167423b11d64762?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain shrink-0 rounded-lg aspect-square w-[72px]"
              />
              <div class="flex flex-col self-start mt-3">
                <div class="text-base font-bold tracking-tight text-gray-950">
                  Medibazar
                </div>
                <div
                  class="self-start mt-2 text-xs tracking-tight text-gray-500"
                >
                  Featured
                </div>
              </div>
            </div>
            <div
              class="flex flex-col items-end pt-4 pr-5 pb-20 pl-20 text-xs tracking-tight rounded-lg border border border-solid max-md:pl-5 max-md:max-w-full"
            >
              <div class="mr-32 leading-none text-gray-500 max-md:mr-2.5">
                30
              </div>
              <img
                loading="lazy"
                src="assets/home1/8c61ccf900ca43b6c3defbdd963d270643c1d3b87317a821984685789046800c?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
                class="object-contain mt-5 mr-36 aspect-[6.1] w-[67px] max-md:mr-2.5"
              />
              <div
                class="pt-5 pb-0.5 max-w-full leading-5 border border-t text-gray-950 w-[300px] max-md:pr-5"
              >
                Save your time – save your money – shop from our
                <br />
                grocery store.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="flex flex-col items-center px-20 pt-14 max-w-full bg-gray-100 w-[1920px] max-md:px-5"
>
  <div class="flex flex-col max-w-full w-[1360px]">
    <div
      class="flex flex-wrap gap-5 justify-between items-start max-md:max-w-full"
    >
      <div class="flex flex-col">
        <div
          class="text-xl font-bold tracking-tight text-gray-900 max-md:mr-1.5"
        >
          Join our newsletter for £10 offs
        </div>
        <div class="mt-4 text-sm tracking-tight leading-5 text-gray-500">
          Register now to get latest updates on promotions &
          <br />
          coupons.Don’t worry, we not spam!
        </div>
      </div>
      <div class="flex flex-col">
        <div
          class="flex gap-5 justify-between items-start pl-4 max-w-full text-sm tracking-tight bg-white rounded-lg border border-gray-300 border-solid shadow-[0px_1px_2px_rgba(0,0,0,0.047)] w-[418px]"
        >
          <div class="flex gap-1.5 my-auto text-gray-400">
            <img
              loading="lazy"
              src="assets/home1/bbd1beac143062579d3edb4c98c91955e720feb06be698d2a7347e9941bcbde1?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
              class="object-contain shrink-0 w-5 aspect-square"
            />
            <div class="my-auto basis-auto">Enter your email address</div>
          </div>
          <div
            class="z-10 self-start px-5 py-5 font-bold leading-3 text-center text-white whitespace-nowrap bg-purple-800 rounded-none"
          >
            SEND
          </div>
        </div>
        <div
          class="mt-3.5 text-xs tracking-tight text-gray-500 max-md:mr-2.5"
        >
          By subscribing you agree to our
          <span class="font-medium text-purple-800">
            Terms & Conditions and Privacy & Cookies Policy.
          </span>
        </div>
      </div>
    </div>
    <div
      class="flex flex-wrap gap-5 justify-between items-start py-14 pr-5 mt-14 border-t border-gray-300 max-md:mt-10 max-md:max-w-full"
    >
      <div class="flex flex-col items-start text-gray-900">
        <div class="text-sm font-semibold tracking-tight leading-tight">
          Do You Need Help ?
        </div>
        <div
          class="self-stretch mt-6 text-sm tracking-tight leading-5 text-gray-500"
        >
          Autoseligen syr. Nek diarask fröbomba. Nör
          <br />
          antipol kynoda nynat. Pressa fåmoska.
        </div>
        <div class="flex gap-6 mt-10">
          <img
            loading="lazy"
            src="assets/home1/828935c6080c150f242bd2f0e795b92e3469d6a6848b666ebd52e8c62a471f33?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 self-start w-7 aspect-square"
          />
          <div class="flex flex-col">
            <div class="text-xs tracking-tight">Monday-Friday: 08am-9pm</div>
            <div
              class="mt-2.5 text-xl font-bold tracking-tighter max-md:mr-2"
            >
              0 800 300-353
            </div>
          </div>
        </div>
        <div class="flex gap-6 mt-11 tracking-tight max-md:mt-10">
          <img
            loading="lazy"
            src="assets/home1/ea765f93e5441da1052e097f9113652817715953b9406a2c56590017b36e4fd2?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 self-start w-7 aspect-square"
          />
          <div class="flex flex-col">
            <div class="text-xs">Need help with your order?</div>
            <div class="self-start mt-2.5 text-sm font-semibold">
              info@example.com
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-start text-sm tracking-tight text-gray-600"
      >
        <div
          class="text-sm font-semibold tracking-tight leading-tight text-gray-900"
        >
          Make Money with Us
        </div>
        <div class="mt-7">Sell on Grogin</div>
        <div class="self-stretch mt-3">Sell Your Services on Grogin</div>
        <div class="mt-3">Sell on Grogin Business</div>
        <div class="mt-3">Sell Your Apps on Grogin</div>
        <div class="mt-3">Become an Affilate</div>
        <div class="mt-4">Advertise Your Products</div>
        <div class="mt-4">Sell-Publish with Us</div>
        <div class="self-stretch mt-4 max-md:mr-1">
          Become an Blowwe Vendor
        </div>
      </div>
      <div
        class="flex flex-col items-start self-stretch text-sm tracking-tight text-gray-600"
      >
        <div
          class="text-sm font-semibold tracking-tight leading-tight text-gray-900"
        >
          Let Us Help You
        </div>
        <div class="mt-7">Accessibility Statement</div>
        <div class="mt-3">Your Orders</div>
        <div class="self-stretch mt-4 max-md:mr-2.5">
          Returns & Replacements
        </div>
        <div class="self-stretch mt-3 max-md:mr-2">
          Shipping Rates & Policies
        </div>
        <div class="self-stretch mt-3">Refund and Returns Policy</div>
        <div class="mt-3">Privacy Policy</div>
        <div class="mt-3.5">Terms and Conditions</div>
        <div class="mt-4">Cookie Settings</div>
        <div class="mt-3">Help Center</div>
      </div>
      <div
        class="flex flex-col items-start text-sm tracking-tight text-gray-600"
      >
        <div
          class="text-sm font-semibold tracking-tight leading-tight text-gray-900"
        >
          Get to Know Us
        </div>
        <div class="mt-7">Careers for Grogin</div>
        <div class="mt-3">About Grogin</div>
        <div class="mt-3">Inverstor Relations</div>
        <div class="mt-4">Grogin Devices</div>
        <div class="mt-3">Customer reviews</div>
        <div class="self-stretch mt-4">Social Responsibility</div>
        <div class="mt-3.5">Store Locations</div>
      </div>
      <div class="flex flex-col items-start">
        <div
          class="text-sm font-semibold tracking-tight leading-tight text-gray-900"
        >
          Download our app
        </div>
        <div
          class="flex gap-4 self-stretch mt-5 text-xs font-medium tracking-tight leading-4 text-gray-500"
        >
          <img
            loading="lazy"
            srcset="assets/home1/0560f6f170c2fb8db7199fbd4be5a61122ad80fb6e8e3ccc2de994f8bc777f02?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/0560f6f170c2fb8db7199fbd4be5a61122ad80fb6e8e3ccc2de994f8bc777f02?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/0560f6f170c2fb8db7199fbd4be5a61122ad80fb6e8e3ccc2de994f8bc777f02?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/0560f6f170c2fb8db7199fbd4be5a61122ad80fb6e8e3ccc2de994f8bc777f02?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/0560f6f170c2fb8db7199fbd4be5a61122ad80fb6e8e3ccc2de994f8bc777f02?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/0560f6f170c2fb8db7199fbd4be5a61122ad80fb6e8e3ccc2de994f8bc777f02?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/0560f6f170c2fb8db7199fbd4be5a61122ad80fb6e8e3ccc2de994f8bc777f02?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/0560f6f170c2fb8db7199fbd4be5a61122ad80fb6e8e3ccc2de994f8bc777f02?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 max-w-full aspect-[3.08] w-[120px]"
          />
          <div class="my-auto">
            Download App Get
            <br />
            -10% Discount
          </div>
        </div>
        <div
          class="flex gap-4 self-stretch mt-2.5 text-xs font-medium tracking-tight leading-4 text-gray-500"
        >
          <img
            loading="lazy"
            srcset="assets/home1/ca916a651f1808dfb40abe853fcebf1a1d0b5fea697ca2e5ac81d59fff8d3cd7?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=100 100w, assets/home1/ca916a651f1808dfb40abe853fcebf1a1d0b5fea697ca2e5ac81d59fff8d3cd7?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=200 200w, assets/home1/ca916a651f1808dfb40abe853fcebf1a1d0b5fea697ca2e5ac81d59fff8d3cd7?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=400 400w, assets/home1/ca916a651f1808dfb40abe853fcebf1a1d0b5fea697ca2e5ac81d59fff8d3cd7?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=800 800w, assets/home1/ca916a651f1808dfb40abe853fcebf1a1d0b5fea697ca2e5ac81d59fff8d3cd7?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1200 1200w, assets/home1/ca916a651f1808dfb40abe853fcebf1a1d0b5fea697ca2e5ac81d59fff8d3cd7?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=1600 1600w, assets/home1/ca916a651f1808dfb40abe853fcebf1a1d0b5fea697ca2e5ac81d59fff8d3cd7?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab&width=2000 2000w, assets/home1/ca916a651f1808dfb40abe853fcebf1a1d0b5fea697ca2e5ac81d59fff8d3cd7?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 max-w-full aspect-[3.08] w-[120px]"
          />
          <div class="my-auto">
            Download App Get
            <br />
            -20% Discount
          </div>
        </div>
        <div class="mt-14 text-xs tracking-tight text-gray-900 max-md:mt-10">
          Follow us on social media:
        </div>
        <div class="flex gap-1 mt-3.5">
          <img
            loading="lazy"
            src="assets/home1/1ef2d9a1f40b8f5fb9b31d21d068407b29d8be6077426350cee5e4f7f755e440?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 w-9 rounded-md aspect-square"
          />
          <img
            loading="lazy"
            src="assets/home1/88e2e2fc83011addc77bf869fba5cc7c8cee88fd14e4c98022a9613d525b6d7a?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 w-9 rounded-md aspect-square"
          />
          <img
            loading="lazy"
            src="assets/home1/4b92ec11a7e92b79c5379b71b44a893de693bfa3c76e23549e416a374020e6c2?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 w-9 rounded-md aspect-square"
          />
          <img
            loading="lazy"
            src="assets/home1/3a800666543f178f34ef0c46c314d9455eb62399f64509b4d1ac0af8afbe265c?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
            class="object-contain shrink-0 w-9 rounded-md aspect-square"
          />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col py-14 w-full border-t border-gray-300 max-md:max-w-full"
    >
      <div
        class="flex flex-wrap gap-5 justify-between w-full text-xs tracking-tight max-md:max-w-full"
      >
        <div class="font-medium text-gray-500 max-md:max-w-full">
          Copyright 2024 © Grogin WooCommerce WordPress Theme. All right
          reserved. Powered by
          <span class="font-semibold text-purple-800">KLBTheme.</span>
        </div>
        <div class="flex gap-2 text-gray-900">
          <div class="grow">Terms and Conditions</div>
          <div>Privacy Policy</div>
          <div>Order Tracking</div>
        </div>
      </div>
      <div class="flex gap-2.5 self-start mt-6">
        <img
          loading="lazy"
          src="assets/home1/ec03f0f3de7d0fe7d2d4564c29146929be9487be70e659cd84ae60a3e637ec7c?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 self-start w-9 aspect-[2.77]"
        />
        <img
          loading="lazy"
          src="assets/home1/bda76e3f9561a488af287666488cdcdfe26c4961d31c642b28e3e6a24e2ded09?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 w-6 aspect-[1.6]"
        />
        <img
          loading="lazy"
          src="assets/home1/e06e1beb884bc37bc51711f002783c310617eadfaadd28337f6e7ce6f8426d2b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 aspect-[3.53] w-[53px]"
        />
        <img
          loading="lazy"
          src="assets/home1/53fbfb24ae1471e0a448949fecb4b89c2dc3941c84f84d18ae9b8071f023f77b?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 aspect-[2.73] w-[41px]"
        />
        <img
          loading="lazy"
          src="assets/home1/87a0f23f9e91431a72218867f6fdf7ddce977a88762fbe59806690b535d164ad?placeholderIfAbsent=true&apiKey=71f8a32b6aae48788135afe3842580ab"
          class="object-contain shrink-0 w-16 aspect-[4.27]"
        />
      </div>
    </div>
  </div>
</div>
</div>